<table class="clearfix critters">
  <caption>The Top 10 Critters</caption>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Url</th>
      <th>Sex</th>
      <th>Level</th>
    </tr>
  </thead>

<% @critters.each do |critter| %>
  <tr>
    <td><%= critter.user.username %></td>
    <td><%= link_to critter.name, critter %></td>
    <td><%= critter.url %></td>
    <td><%= critter.sex %></td>
    <td><%= critter.level %></td>
  </tr>
<% end %>
</table>

