<% title "Breed your critters" %>

<p>Choose your critters to breed.  They are listed by level, quality and name.</p>
<%= form_tag breeding_index_path do %>
  <div class="field">
    <%= label_tag :female %>
    <%= select_tag :female, options_from_collection_for_select(@females, 'id', 'name_and_quality'), {:include_blank => true} %>
  </div>
  <div class="field">
    <%= label_tag :male %>
    <%= select_tag :male, options_from_collection_for_select(@males, 'id', 'name_and_quality'), {:include_blank => true} %>
  </div>
  <div class="actions"><%= submit_tag "Breed" %></div>
<% end %>
