<table class="clearfix critters">
  <thead>
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th>Sex</th>
      <th>Quality</th>
      <th>Level</th>
      <th>Hp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @critters.each do |critter| %>
  <tr>
    <td><%= critter.name %></td>
    <td><%= critter.domain %></td>
    <td><%= critter.sex %></td>
    <td><%= critter.quality %></td>
    <td><%= critter.level %></td>
    <td><%= critter.hp %></td>
    <td><%= link_to 'Details', critter %></td>
    <td><%= link_to 'Edit', edit_critter_path(critter) %></td>
    <td><%= link_to 'Destroy', critter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
