<div class="critter_details">
  <table class="stats core_stats">
    <caption>Stats</caption>
     <thead>
      <th>Stat</th>
      <th>Value</th>
    </head>
    <tbody>
    <tr>
      <td>Owner:</td>
      <td><%= link_to @critter.user.username, @critter.user %></td>
    </tr>

    <tr>
      <td>Name:</td>
      <td><%= @critter.name %></td>
    </tr>

    <tr>
      <td>Url:</td>
      <td><%= @critter.url %></td>
    </tr>
    
    <tr>
      <td>Domain:</td>
      <td><%= @critter.domain %></td>
    </tr>

    <tr>
      <td>Sex:</td>
      <td><%= @critter.sex %></td>
    </tr>

    <tr>
      <td>Quality:</td>
      <td><%= @critter.quality %></td>
    </tr>

    <tr>
      <td>Level:</td>
      <td><%= @critter.level %></td>
    </tr>

    <tr>
      <td>Hp:</td>
      <td><%= @critter.hp %></td>
    </tr>

    <tr>
      <td>Dodge:</td>
      <td>
        <%= @critter.dodge %>
        <%= has_disability(@critter.has_dodge) %>
      </td>
    </tr>

    <tr>
      <td>Crit:</td>
      <td>
        <%= @critter.crit %>
        <%= has_disability(@critter.has_crit) %>
      </td>
    </tr>

    <tr>
      <td>Physical damage:</td>
      <td><%= @critter.physical_damage %></td>
    </tr>
  </tbody>
  </table>
  <table class="stats element_stats">
    <caption>Element Stats</caption>
    <thead>
      <th>Stat</th>
      <th>Value</th>
    </head>
    <tbody>
    <tr>
      <td>Fire damage:</td>
      <td>
        <%= @critter.fire_damage %>
        <%= has_disability(@critter.has_fire_damage) %>
      </td>
    </tr>

    <tr>
      <td>Earth damage:</td>
      <td>
        <%= @critter.earth_damage %>
        <%= has_disability(@critter.has_earth_damage) %>
      </td>
    </tr>

    <tr>
      <td>Water damage:</td>
      <td>
        <%= @critter.water_damage %>
        <%= has_disability(@critter.has_water_damage) %>
      </td>
    </tr>

    <tr>
      <td>Air damage:</td>
      <td>
        <%= @critter.air_damage %>
        <%= has_disability(@critter.has_air_damage) %>
      </td>
    </tr>

    <tr>
      <td>Light damage:</td>
      <td>
        <%= @critter.light_damage %>
        <%= has_disability(@critter.has_light_damage) %>
      </td>
    </tr>

    <tr>
      <td>Dark damage:</td>
      <td>
        <%= @critter.dark_damage %>
        <%= has_disability(@critter.has_dark_damage) %>
      </td>
    </tr>

    <tr>
      <td>Absorb fire:</td>
      <td>
        <%= @critter.absorb_fire %>
        <%= has_disability(@critter.has_absorb_fire) %>
      </td>
    </tr>

    <tr>
      <td>Absorb earth:</td>
      <td>
        <%= @critter.absorb_earth %>
        <%= has_disability(@critter.has_absorb_earth) %>
      </td>
    </tr>

    <tr>
      <td>Absorb water:</td>
      <td>
        <%= @critter.absorb_water %>
        <%= has_disability(@critter.has_absorb_water) %>
      </td>
    </tr>

    <tr>
      <td>Absorb air:</td>
      <td>
        <%= @critter.absorb_air %>
        <%= has_disability(@critter.has_absorb_air) %>
      </td>
    </tr>

    <tr>
      <td>Absorb light:</td>
      <td>
        <%= @critter.absorb_light %>
        <%= has_disability(@critter.has_absorb_light) %>
      </td>
    </tr>

    <tr>
      <td>Absorb dark:</td>
      <td>
        <%= @critter.absorb_dark %>
        <%= has_disability(@critter.has_absorb_dark) %>
      </td>
    </tr>
  </tbody>
  </table>
  <% if @critter.user == current_user && !@critter.dna.nil? %>
    <table class="stats dna">
      <caption>DNA</caption>
      <thead>
        <th>Chromosome</th>
        <th>Alleles</th>
      </thead>
      <tbody>
        <% @critter.dna.each do |chromo, alleles| %>
          <tr>
            <td><%= chromo %></td>
            <td><%= alleles %> </td>
          </tr>
        <% end %>
        <tr>
          <td>All Other Chromosomes</td>
          <td>rr</td>
      </tbody>
    </table>
  <% end %>
</div>
<div class="actions">
  <%= link_to 'Edit', edit_critter_path(@critter) %> |
  <%= link_to 'Back', critters_path %>
</div>
