<p>
  <b>Name:</b>
  <%= @critter.name %>
</p>

<p>
  <b>Url:</b>
  <%= @critter.url %>
</p>

<p>
  <b>Sex:</b>
  <%= @critter.sex %>
</p>

<p>
  <b>Level:</b>
  <%= @critter.level %>
</p>

<p>
  <b>Hp:</b>
  <%= @critter.hp %>
</p>

<p>
  <b>Dodge:</b>
  <%= @critter.dodge %>
</p>

<p>
  <b>Crit:</b>
  <%= @critter.crit %>
</p>

<p>
  <b>Physical damage:</b>
  <%= @critter.physical_damage %>
</p>

<p>
  <b>Fire damage:</b>
  <%= @critter.fire_damage %>
</p>

<p>
  <b>Earth damage:</b>
  <%= @critter.earth_damage %>
</p>

<p>
  <b>Water damage:</b>
  <%= @critter.water_damage %>
</p>

<p>
  <b>Air damage:</b>
  <%= @critter.air_damage %>
</p>

<p>
  <b>Light damage:</b>
  <%= @critter.light_damage %>
</p>

<p>
  <b>Dark damage:</b>
  <%= @critter.dark_damage %>
</p>

<p>
  <b>Absorb fire:</b>
  <%= @critter.absorb_fire %>
</p>

<p>
  <b>Absorb earth:</b>
  <%= @critter.absorb_earth %>
</p>

<p>
  <b>Absorb water:</b>
  <%= @critter.absorb_water %>
</p>

<p>
  <b>Absorb air:</b>
  <%= @critter.absorb_air %>
</p>

<p>
  <b>Absorb light:</b>
  <%= @critter.absorb_light %>
</p>

<p>
  <b>Absorb dark:</b>
  <%= @critter.absorb_dark %>
</p>

<p>
  <b>Fire:</b>
  <%= @critter.fire %>
</p>

<p>
  <b>Earth:</b>
  <%= @critter.earth %>
</p>

<p>
  <b>Water:</b>
  <%= @critter.water %>
</p>

<p>
  <b>Air:</b>
  <%= @critter.air %>
</p>

<p>
  <b>Light:</b>
  <%= @critter.light %>
</p>

<p>
  <b>Dark:</b>
  <%= @critter.dark %>
</p>


<%= link_to 'Edit', edit_critter_path(@critter) %> |
<%= link_to 'Back', critters_path %>
