<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
   <%= csrf_meta_tag %>

  <title><%= @title || 'Home' %> | Critters</title>
  <meta name="description" content="Critters domain hunting game.">
  <meta name="author" content="Brian Bergstrom, Matt Findlay">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag :defaults, :media => "all", :cache => "styles" %>
  <%= javascript_include_tag "modernizr", "respond", :cache => "modernizer-respond" %>
</head>
<body>

  <!-- START header -->
  <%= render 'layouts/header' %>
  <!-- END header -->

  <!-- START section#content -->
  <section id="content" class="clearfix <%= controller_css_class %>">
    <% unless flash.empty? %>
      <div id="flash">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
      </div>
    <% end %>

    <% unless @title.nil? %>
      <h2 class="content-title"><%= @title %></h2>
    <% end %>

    <%= yield %>
  </section>
  <!-- END section#content -->

  <!-- START footer -->
  <%= render 'layouts/footer'%>
  <!-- END footer -->

  <%= javascript_include_tag :defaults, :cache => true %>

  <%= debug(params) if Rails.env.development? %>
	
  <script>
    var _gaq=[['_setAccount','UA-27311952-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>
